.newDiv{
    margin:5px;
    height: 200px;
    background-color: aqua;
    text-align: center;
    font-size: large;
}
/* tis is ijtosl */
/*This is a third comment*/
/*This is the 1st version*/

/*This is a second version*/
/*This is a third version*/